.link a {
  position: relative;
  transition: all 0.4s;
}

.link a.active,.link a:hover{
  color: #ea580c;

}

.link a::after {
  content: "";
  width: 0%;
  padding: 1px;
  border-radius: 1px;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: all 0.5s;
}

.link a:hover::after,
.link a.active::after {
  width: 100%;
  background-color: #ea580c;
  left: 0;
}

